@import url("base.css");
html,
body,
#wrap {
  height: 100%;
}
iframe {
  display: block;
  border: none;
}
.un-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
