#wrap {
  position: relative;
  min-width: 1007px;
  /* 这是针对缺省样式 (必须的) */
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
  /* 滑轨两头的监听按钮颜色 */
  /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
}
#wrap ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#wrap ::-webkit-scrollbar-track {
  background-color: #262626;
}
#wrap ::-webkit-scrollbar-thumb {
  background-color: #0191D6;
}
#wrap ::-webkit-scrollbar-button {
  display: none;
  background-color: #262626;
}
#wrap ::-webkit-scrollbar-corner {
  background-color: black;
}
/*
 *顶部
 */
#top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-height: 120px;
  background: #000000 url(../img/top-bg.png);
  transition: transform 0.3s;
}
#top #menuBtn {
  float: left;
  width: 200px;
  line-height: 62px;
  text-align: center;
  transition: background 0.3s;
}
#top #menuBtn:hover {
  background: rgba(45, 45, 45, 0.7);
}
#top #menuBtn:active {
  background: rgba(255, 255, 255, 0.1);
}
#top #menuBtn img {
  width: 120px;
  vertical-align: middle;
}
#top .top-btn-list {
  float: right;
  margin: 0 50px 0 0;
}
#top .top-btn-list .top-btn-item {
  float: left;
  width: 40px;
  height: 40px;
  margin: 11px 0 0 0;
}
#top .top-btn-list .top-btn-item.msg {
  background: url(../img/msg.png) center / 32px no-repeat;
}
#top .top-btn-list .top-btn-item.msg.active {
  background: url(../img/msgA.png) center / 32px no-repeat;
}
#top.hide {
  transform: translate3d(0, -100%, 0);
}
/*
 *右边下拉
 */
#right {
  position: absolute;
  top: 0;
  right: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 300px;
  padding: 61px 0 0 0;
  border: 1px solid #ccc;
  word-break: break-all;
  transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.6s;
  transform: translate3d(0, -100%, 0);
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  /* 这是针对缺省样式 (必须的) */
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
  /* 滑轨两头的监听按钮颜色 */
  /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
}
#right ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
#right ::-webkit-scrollbar-track {
  background-color: #262626;
}
#right ::-webkit-scrollbar-thumb {
  background-color: #0191D6;
}
#right ::-webkit-scrollbar-button {
  display: none;
  background-color: #262626;
}
#right ::-webkit-scrollbar-corner {
  background-color: black;
}
#right.active {
  transform: translate3d(0, 0, 0);
}
#right .r-c {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
#right .r-c .msg-list .msg-item {
  position: relative;
  padding: 0 12px 0 12px;
}
#right .r-c .msg-list .msg-item:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #ccc;
}
#right .r-c .msg-list .msg-item:after {
  content: "";
  position: absolute;
  top: -6px;
  right: 0px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent #ccc transparent transparent ;
}
#right .r-c .msg-list .msg-item div {
  padding: 10px 5px 10px 5px;
  border-top: 1px dashed #ccc;
}
#right.short .msg-item:nth-of-type(n+6) {
  display: none;
}
#right.short .msg-item:nth-of-type(n+6).always {
  display: block;
}
/*
 *左边侧栏
 */
#left {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 200px;
  height: 100%;
  padding: 62px 0 0;
  background: #2d2d2d;
  transition: transform .3s;
}
#left .l-c {
  height: 100%;
  overflow: auto;
}
#left .l-c .shortcut-list .shortcut-item {
  position: relative;
  height: 55px;
  border-bottom: 1px solid #232323;
  overflow: hidden;
  transition: transform .2s;
}
#left .l-c .shortcut-list .shortcut-item a {
  position: relative;
  z-index: 10;
  display: block;
  line-height: 35px;
  padding: 10px 0 10px 20px;
  background: #2d2d2d;
  transition: all 0.3s;
}
#left .l-c .shortcut-list .shortcut-item a:hover {
  background: #3e3e3e;
}
#left .l-c .shortcut-list .shortcut-item a.active {
  background: #4c4c4c;
}
#left .l-c .shortcut-list .shortcut-item a i {
  float: left;
  width: 35px;
  height: 35px;
}
#left .l-c .shortcut-list .shortcut-item a span {
  display: block;
  margin: 0 5px 0 65px;
  color: #ddd;
  font-size: 16px;
}
#left .l-c .shortcut-list .shortcut-item button {
  position: absolute;
  z-index: 9;
  padding: 0;
  border: none;
  cursor: pointer;
}
#left .l-c .shortcut-list .shortcut-item .shortcutDel {
  top: 13px;
  right: 25px;
  height: 29px;
  width: 25px;
  background: #820c0c url(../img/del.png) center / 20px no-repeat;
}
#left .l-c .shortcut-list .shortcut-item .shortcutUp {
  top: 13px;
  right: 0px;
  width: 25px;
  height: 13px;
  background: #03568e url(../img/up.png) center / 10px no-repeat;
}
#left .l-c .shortcut-list .shortcut-item .shortcutDown {
  bottom: 13px;
  right: 0px;
  width: 25px;
  height: 13px;
  background: #03568e url(../img/down.png) center / 10px no-repeat;
}
#left .l-c .shortcut-list .edit-add {
  padding: 10px 10%;
  border-bottom: 1px solid #232323;
}
#left .l-c .shortcut-list .edit-add button {
  float: left;
  width: 30%;
  height: 45px;
  padding: 0;
  border: none;
  margin: 0 10%;
  cursor: pointer;
}
#left .l-c .shortcut-list .edit-add button.shortcut-add {
  background: #353535 url(../img/add.png) center / 30px no-repeat;
}
#left .l-c .shortcut-list .edit-add button.shortcut-edit {
  background: #353535 url(../img/edit.png) center / 35px no-repeat;
}
#left .l-c .shortcut-list .edit-add button.shortcut-edit.active {
  background-color: #154412;
}
#left .l-c .shortcut-list .edit-add button:focus {
  outline: none;
}
#left .l-c .shortcut-list .edit-add button:active {
  opacity: 0.7;
}
#left .l-c .shortcut-list.move a {
  transform: translate3d(-50px, 0, 0);
  pointer-events: none;
}
#left .l-c .shortcut-list.move a:hover,
#left .l-c .shortcut-list.move a.active {
  background: #2d2d2d;
}
#left .hid-btn {
  position: absolute;
  top: 50%;
  right: -12px;
  height: 65px;
  line-height: 65px;
  width: 12px;
  background: url(../img/yincang.png);
  text-align: center;
}
#left .hid-btn img {
  width: 70%;
  vertical-align: middle;
  transition: transform .3s;
}
#left.hide {
  transform: translate3d(-100%, 0, 0);
}
#left.hide .hid-btn img {
  transform: rotate3d(0, 1, 0, 180deg);
}
/*
 *主体
 */
#main {
  box-sizing: border-box;
  height: 100%;
  padding: 62px 0 0 200px;
  transition: padding .3s;
}
#main.hide {
  padding: 62px 0 0 0;
}
#main .m-c {
  height: 100%;
}
/*
 *菜单
 */
#menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s;
}
#menu.active {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
#menu .menu-c {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 660px;
  height: 450px;
  border-radius: 2px;
  margin: -225px 0 0 -325px;
  background: #fff;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.6);
  opacity: 0.3;
  transition: all cubic-bezier(0.12, 1.06, 1, 1) 0.3s;
}
#menu .menu-c.active {
  transform: scale(1);
  opacity: 1;
}
#menu .menu-c .menu-c-t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#menu .menu-c .menu-c-t .menuChange {
  float: left;
  padding: 2px;
  border-radius: 4px;
  margin: 5px;
  background: #cfcfcf;
  box-shadow: #c4c4c4 2px -2px 20px inset, #c4c4c4 -2px 2px 20px inset;
}
#menu .menu-c .menu-c-t .menuChange span {
  display: inline-block;
  padding: 2px 8px;
  font-weight: 700;
  color: #9A9A9A;
}
#menu .menu-c .menu-c-t .menuChange span.active {
  color: #717679;
  border-radius: 3px;
  background: linear-gradient(180deg, #e7e7e7, #e0e0e0, #d9d9d9);
}
#menu .menu-c .menu-c-t .menuClose {
  float: right;
  width: 20px;
  height: 20px;
  padding: 5px;
  background: url(../img/close.png) center / 20px no-repeat;
}
#menu .menu-c .menu-c-t .menuClose:hover {
  background: #d44027 url(../img/closeA.png) center / 20px no-repeat;
}
#menu .menu-c .menu-c-t .menuClose:active {
  background: #b7331d url(../img/closeA.png) center / 20px no-repeat;
}
#menu .menu-c .menu-c-m {
  box-sizing: border-box;
  height: 100%;
  padding: 35px 0 0;
  /* 这是针对缺省样式 (必须的) */
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
  /* 滑轨两头的监听按钮颜色 */
  /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, #f3eaea, #dcdada);
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #e9f4ff, #fbfbfb, #d6e5fd);
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar-button {
  display: none;
  background-color: #262626;
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar-corner {
  background-color: black;
}
#menu .menu-c .menu-c-m .menu-c-m-l {
  display: none;
}
#menu .menu-c .menu-c-m .menu-c-m-r {
  height: 100%;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul {
  height: 100%;
  overflow: auto;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul li {
  display: inline;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul li a {
  float: left;
  margin: 10px;
  text-align: center;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul li a i {
  display: block;
  width: 60px;
  height: 60px;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul li a span {
  display: inline-block;
  margin: 5px 0 0;
  color: #555;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-l {
  display: block;
  float: left;
  overflow: auto;
  height: 100%;
  width: 149px;
  border-right: 1px solid #ccc;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-l .classify-list .classify-item {
  display: block;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #666;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-l .classify-list .classify-item.active {
  background: #eee;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-r ul {
  margin: 0 0 0 150px;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-r ul li {
  box-sizing: border-box;
  display: none;
  height: 100%;
  padding: 10px 0px 10px 10px;
  overflow: auto;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-r ul li.active {
  display: block;
}
/*
 *蒙层
 */
#mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}
#mask.active {
  display: block;
}
