#wrap {
  position: relative;
  min-width: 1007px;
  /* 这是针对缺省样式 (必须的) */
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
  /* 滑轨两头的监听按钮颜色 */
  /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
}
#wrap ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#wrap ::-webkit-scrollbar-track {
  background-color: #262626;
}
#wrap ::-webkit-scrollbar-thumb {
  background-color: #0191D6;
}
#wrap ::-webkit-scrollbar-button {
  display: none;
  background-color: #262626;
}
#wrap ::-webkit-scrollbar-corner {
  background-color: black;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 62px;
  max-height: 120px;
  background: #000000 url(../img/top-bg.png);
}
#top a {
  display: block;
  width: 200px;
  line-height: 62px;
  text-align: center;
  transition: background 0.3s;
}
#top a:hover {
  background: rgba(45, 45, 45, 0.7);
}
#top a:active {
  background: rgba(255, 255, 255, 0.1);
}
#top a img {
  width: 120px;
  vertical-align: middle;
}
#left {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 200px;
  height: 100%;
  padding: 100px 0 0 ;
  background: #2d2d2d;
}
#left .l-c {
  height: 100%;
  overflow: auto;
}
#left .hid-btn {
  position: absolute;
  top: 50%;
  right: -12px;
  height: 65px;
  width: 12px;
  background: url(../img/yincang.png);
}
#main {
  box-sizing: border-box;
  height: 100%;
  padding: 62px 0 0 200px;
}
#main .m-c {
  height: 100%;
}
#menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s;
}
#menu.active {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
#menu .menu-c {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 660px;
  height: 450px;
  border-radius: 2px;
  margin: -225px 0 0 -325px;
  background: #fff;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.6);
  opacity: 0.3;
  transition: all cubic-bezier(0.12, 1.06, 1, 1) 0.3s;
}
#menu .menu-c.active {
  transform: scale(1);
  opacity: 1;
}
#menu .menu-c .menu-c-t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#menu .menu-c .menu-c-t .menuChange {
  float: left;
  padding: 2px;
  border-radius: 4px;
  margin: 5px;
  background: #cfcfcf;
  box-shadow: #c4c4c4 2px -2px 20px inset, #c4c4c4 -2px 2px 20px inset;
}
#menu .menu-c .menu-c-t .menuChange span {
  display: inline-block;
  padding: 2px 8px;
  font-weight: 700;
  color: #9A9A9A;
}
#menu .menu-c .menu-c-t .menuChange span.active {
  color: #717679;
  border-radius: 3px;
  background: linear-gradient(180deg, #e7e7e7, #e0e0e0, #d9d9d9);
}
#menu .menu-c .menu-c-t .menuClose {
  float: right;
  width: 20px;
  height: 20px;
  padding: 5px;
  background: url(../img/close.png) center / 20px no-repeat;
}
#menu .menu-c .menu-c-t .menuClose:hover {
  background: #d44027 url(../img/closeA.png) center / 20px no-repeat;
}
#menu .menu-c .menu-c-t .menuClose:active {
  background: #b7331d url(../img/closeA.png) center / 20px no-repeat;
}
#menu .menu-c .menu-c-m {
  box-sizing: border-box;
  height: 100%;
  padding: 35px 0 0;
  /* 这是针对缺省样式 (必须的) */
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
  /* 滑轨两头的监听按钮颜色 */
  /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, #f3eaea, #dcdada);
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #e9f4ff, #fbfbfb, #d6e5fd);
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar-button {
  display: none;
  background-color: #262626;
}
#menu .menu-c .menu-c-m ::-webkit-scrollbar-corner {
  background-color: black;
}
#menu .menu-c .menu-c-m .menu-c-m-l {
  display: none;
}
#menu .menu-c .menu-c-m .menu-c-m-r {
  height: 100%;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul {
  height: 100%;
  overflow: auto;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul li {
  display: inline;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul li a {
  float: left;
  margin: 10px;
  text-align: center;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul li a i {
  display: block;
  width: 60px;
  height: 60px;
}
#menu .menu-c .menu-c-m .menu-c-m-r ul li a span {
  display: inline-block;
  margin: 5px 0 0;
  color: #555;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-l {
  display: block;
  float: left;
  overflow: auto;
  height: 100%;
  width: 149px;
  border-right: 1px solid #ccc;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-l .classify-list .classify-item {
  display: block;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #666;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-l .classify-list .classify-item.active {
  background: #eee;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-r ul {
  margin: 0 0 0 150px;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-r ul li {
  box-sizing: border-box;
  display: none;
  height: 100%;
  padding: 10px 0px 10px 10px;
  overflow: auto;
}
#menu .menu-c .menu-c-m.no-icon .menu-c-m-r ul li.active {
  display: block;
}
